on: [push]
jobs:
  build-and-upload:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: cachix/install-nix-action@v12
        with:
          nix_path: nixpkgs=channel:nixos-21.11
      - name: Build doc
        run: |
          nix-build
          #mkdir public
          #cp -r result/public/* public
      - name: Deploy Github Pages
        uses: JamesIves/github-pages-deploy-action@v4.2.3
        with:
          branch: gh-pages
          folder: result/public

