on: [push]
jobs:
  build-and-upload:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: cachix/install-nix-action@v12
        with:
          nix_path: nixpkgs=channel:nixos-21.11
      - name: Build doc
        run: |
          nix-build
          cp -r result/public .
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          path: public

